@font-face {
  font-family: "Relaway";
  src: url("../fonts/Relaway.ttf") format("truetype");
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bleu: #0065fc;
  --bleu-clair: #deebff;
  --gris: #f2f2f2;
}

a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
body {
  font-family: "Relaway", sans-serif;
}
header {
  width : 100%;
  margin : 0 auto;
  height: 75px;
}
main {
  width : 100%;
  margin : 0 auto;
}

.star--blue {
  color: var(--bleu);
}
.star--grey {
  color: var(--gris);
}

.container_body {
  padding: 0px 30px 0px 30px;
  width : 100%;
  max-width: 1400px;
  margin : 0 auto;
}
.nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  height: 100%;
  gap: 35px;
}

.nav-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 120px;
  text-align: center;

}
.nav-list li:hover {
  border-top: 4px solid transparent;
  border-color: var(--bleu);
}
.nav-list a{
  display: block;
  width: 100%;
  justify-content: center;
}

main {
  max-width: 100%;
  margin: 15px;
}
/* bloc information filtre */
.b_information {
  margin: 25px 0px;
  display: flex;
  flex-direction: column;
}
.input_search {
  display: flex;
  align-items: center;
  border-radius: 15px;
  width: auto;
  margin: 2% 0px;
}

.input_search input {
  outline: none;
  height: 52px;
  margin-left: -5px;
  border: none;
  padding: 10px;
  border: 1px solid var(--gris);
  min-width: 100px;
}
.input_search .fa-location-dot {
  display: inline-block;
  padding: 14px;
  font-size: 25px;
  background-color: var(--gris);
  border-radius: 15px 0px 0px 15px;
}
.input_search button {
  background-color: var(--bleu);
  color: white;
  height: 52px;
  border: none;
  border-radius: 0px 15px 15px 0px;
  padding: 15px;
  cursor: pointer;
}

.input_search button .fa-search {
  display: none;
}
/* Bloc cards Marseille */
.hebergement_marseille {
  display: flex;
  position: relative;
  gap: 30px;
}

.list_rooms_marseille {
  background-color: var(--gris);
  border-radius: 25px;
  width: 80%;
}
.title_rooms_bloc {
  padding: 30px 0 15px 50px;
}
.title_rooms_bloc h2 {
  font-weight: bold;
}
.list_rooms {
  gap: 25px;
  padding: 20px 15px 25px 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
  border-radius: 20px;
  margin: 0 auto;
}
.list_rooms img {
  width: 95%;
  height: 150px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: block;
  margin: 5px auto 0;
  object-fit: cover;
}
.card_room {
  height: 240px;
  width: 30%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 5px 5px 0px #0000002e;
  cursor: pointer;
}
.list_rooms .card_room:hover {
  box-shadow: 0 10px 10px 0px #0000002e;
}
.card_room a {
  display : block;
  width : 100%;
  height : 100%;
}
.info_card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px 0 0 15px;
}
.subtitle_room {
  padding: 30px 0 15px 50px;
}
/* Populaire */
.list_popular_Marseille {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 7px;
  border-radius: 25px;
  padding: 20px;
  background-color: var(--gris);
}
.popular_title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

.card_popular {
  width: auto;
  height: 170px;
  display: flex;
  background-color: white;
  margin: 20px auto;
  border-radius: 15px;
  box-shadow: 0 0 16px #0000002e;
}
.card_popular:hover {
  box-shadow: 0 10px 10px 0px #0000002e;
}
.card_popular img {
  width: 40%;
  height: 90%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin: auto 0 auto 5px;
}
.info_popular {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-left: 20px;
}
.info_title_popular {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}
.info_title_popular h4 {
  font-weight: 800;
  font-size: larger;
}
.info_title_popular span {
  font-weight: 500;
}

/* Filtre */
.filtres {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filtres .filtre_item {
  margin: 0px 10px;
  border-radius: 30px;
  border: 1px solid var(--gris);
  display: flex;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 1s;
}

.filtres .filtre_item i {
  background-color: var(--bleu-clair);
  height: 50px;
  width: 50px;
  display: inline-block;
  border-radius: 100%;
  color: var(--bleu);
  display: flex;
  align-items: center;
  justify-content: center;
}
.filtres .filtre_item:hover {
  transition: background-color 1s;
  color: var(--bleu);
}
.filtres .filtre_item .filtre_item_text {
  padding: 0px 10px;
}
.icon_button_search {
  display: none;
}
.info_subtitle {
  margin: 25px 0px;
  display: flex;
  align-items: center;
}
.info_subtitle i {
  color: var(--bleu);
  border: 1px solid var(--gris);
  border-radius: 100%;
  width: 25px;
  height: 25px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

/* Activite */

.activite_marseille {
  margin: 60px 0px;
  height: 100%;
}
.activite_marseille h2 {
  display: flex;
  justify-content: flex-start;
  padding: 0 0 8px 20px;
}
.list_activite_marseille {
  display: flex;
  gap: 25px;
  width: 100%;
  height : 420px;
  flex-direction: column;
  flex-wrap: wrap;
}

.activite_card {
  display: flex;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 16px #0000002e;
  width: calc(25% - 34px);
  height: 100%;
}
.activite_card a {
  display : block;
  width : 100%;
  height : 100%;
}

.h100 {
  height : 420px;
}
.h60 {
  height : 227px;
}
.h50{
  height : 197px;
}
.h40{
  height : 165px;
}
.col_activite_cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.activite_card img {
  width: 100%;
  height: calc(100% - 40px);
  object-fit:cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.title_activite {
  display: flex;
  justify-content: flex-start;
  padding: 15px 10px 20px;
}
.activite_card_two {
  display: flex;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 16px #0000002e;
}

.activite_card:hover, .activite_card_two:hover{
  box-shadow: 0 10px 10px 0px #0000002e;
}



  

/* Footer */

footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-items: center;
  background-color: var(--gris);
  width: 100%;
  padding: 3%;
}
.container_body_footer {
  padding: 0px 30px 0px 30px;
  width : 100%;
  max-width: 1400px;
  margin : 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-items: center;
}

.a_propos {
  margin-right: 10%;
}

.a_propos h5 {
  font-size: larger;
  margin-bottom: 10px;
}
.a_propos li {
  line-height: 40px;
}

.hebergement {
  margin-right: 10%;
}

.hebergement h5 {
  font-size: larger;
  margin-bottom: 10px;
}
.hebergement li {
  line-height: 40px;
}

.assistance {
  margin-right: 10%;
}

.assistance h6 {
  font-size: larger;
  margin-bottom: 10px;
}
.assistance li {
  line-height: 40px;
}
