header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  .header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 100vw;
    padding: 35px 0 15px 0;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%)  }
  img {
    height: 40px;
    }
  }

.subnav {
    background-color: #F4F4F4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100vw;
    gap: 12px;
    a{
        text-decoration: none;
        color: black;
        font-size: medium;
    }
  }